/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #500035;
    background-alt: #700943;
    foreground:     #FFFFFFFF;
    selected:       #8C005D;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
